<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>L3I_Matthie_SQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3066E721D9C60C6007C53CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3066E861D9C60C6007C53CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3066E911D9C60C6007C53CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
